.main {
    position: relative;
    top: -25px;
    height: 480px;
    width: 980px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px silver;
  }
  
  .inner-main {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .inner-main p {
    padding: 0px 0px 5px 0px;
    position: relative;
    transition: all 0.5s ease-out;
    color: #113555;
  }
  
  .inner-main > img {
    position: relative;
    left: -80px;
    top: 90px;
    width: 300px;
    transition: visibility 2s ease-out;
  }
  
  .today {
    position: relative;
    width: 350px;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  
  .today > h1 {
    margin-bottom: 15px;
  }
  
  .title {
    position: absolute;
    top: -100px;
    color: #365a7a;
    font-size: 4rem;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .title:before {
    content: '';
    background: url('../../public/images/02d.svg') no-repeat;
    background-size: 100%;
    width: 250px;
    height: 250px;
    display: block;
  }
  