.weather-box-list {
    width: 850px;
    position: relative;
    top: 80px;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  
  .weather-box-list > li {
    list-style-type: none;
  }
  
  .weather-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 3px 0px 8px silver;
    padding-bottom: 10px;
  }
  
  .weather-box > img {
    width: 100px;
    height: 100px;
  }
  
  .weather-box > h1 {
    margin-top: 25px;
    font-size: 20px;
  }
  
  .temp {
    padding-bottom: 10px;
    font-size: 0.93em;
  }
  